.cm-s-monokai .CodeMirror-cursor {
  border-left: 1px solid #4f4f4f;
}

.cm-s-monokai span.cm-comment {
  color: #75715e;
}

.cm-s-monokai span.cm-atom {
  color: #ae81ff;
}

.cm-s-monokai span.cm-number {
  color: #ae81ff;
}

.cm-s-monokai span.cm-comment.cm-attribute {
  color: #97b757;
}

.cm-s-monokai span.cm-comment.cm-def {
  color: #bc9262;
}

.cm-s-monokai span.cm-comment.cm-tag {
  color: #bc6283;
}

.cm-s-monokai span.cm-comment.cm-type {
  color: #5998a6;
}

.cm-s-monokai span.cm-property,
.cm-s-monokai span.cm-attribute {
  color: #a6e22e;
}

.cm-s-monokai span.cm-keyword {
  color: #c678dd;
}

.cm-s-monokai span.cm-builtin {
  color: #66d9ef;
}

.cm-s-monokai span.cm-string {
  color: rgb(0, 140, 140, .7);
}

.cm-s-monokai span.cm-strong {
  color: #006699;
}


.cm-s-monokai span.cm-variable-3,
.cm-s-monokai span.cm-type {
  color: #66d9ef;
}

.cm-s-monokai span.cm-def {
  color: #fd971f;
}

.cm-s-monokai span.cm-bracket {
  color: #f8f8f2;
}

.cm-s-monokai span.cm-tag {
  color: #f92672;
}

.cm-s-monokai span.cm-header {
  color: #73c9e5
}

.cm-s-monokai span.cm-link {
  color: #ae81ff;
}

.cm-s-monokai span.cm-error {
  background: #f92672;
  color: #f8f8f0;
}

.cm-s-monokai .CodeMirror-activeline-background {
  background: #373831;
}

.cm-s-monokai .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}